
<div ng-init = "returnObject()">	
	<div class="col-lg-8 col-md-10 col-xs-12 offset-md-2">
            
	 
		<div class="card">
		  <img alt="Card image cap" class="card-img-top img-fluid" src="backgroundlargecard.jpg" />
		  <div class="card-block">
		    <h1 class="card-text" ng-show = "{{individualObject.name}}">Name :{{individualObject.name}}</h1>
		    <h3 class="card-text" ng-show = "{{individualObject.authors[0]}}">Authors :{{individualObject.authors[0]}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.numberOfPages}}">Number Of Pages :{{individualObject.numberOfPages}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.country}}">Country :{{individualObject.country}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.mediaType}}">Media type :{{individualObject.mediaType}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.released}}">Released :{{individualObject.released}}</h3>
		    
		    <h3 class="card-text" ng-show = "{{individualObject.gender}}">Gender :{{individualObject.gender}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.culture}}">Culture :{{individualObject.culture}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.born}}">Born :{{individualObject.born}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.died}}">Died :{{individualObject.died}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.aliases}}">Aliases :{{individualObject.aliases}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.father}}">Father :{{individualObject.father}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.mother}}">Mother :{{individualObject.mother}}</h3>
		    
		    
		    <h3 class="card-text" ng-show = "{{individualObject.tvSeries}}">TV Series :{{individualObject.tvSeries}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.playedBy}}">Played By :{{individualObject.playedBy}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.region}}">Region :{{individualObject.region}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.coatOfArms}}">Coat Of Arms :{{individualObject.coatOfArms}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.words}}">Words :{{individualObject.words}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.titles}}">Titles :{{individualObject.titles}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.seats}}">Seats :{{individualObject.seats}}</h3>
		   
		  		    <h3 class="card-text" ng-show = "{{individualObject.overlord}}">Overlord :{{individualObject.overlord}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.founded}}">Founded :{{individualObject.founded}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.diedOut}}">Died Out :{{individualObject.diedOut}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.ancestralWeapons}}">Ancestral Weapons :{{individualObject.ancestralWeapons}}</h3>
		    <h3 class="card-text" ng-show = "{{individualObject.cadetBranches}}">Cadet Branches{{individualObject.cadetBranches}}</h3>
		   
		  </div>
		</div>	
	</div>
	            
 </div>